@charset "utf-8";
/* pre{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  display:block;
  vertical-align: baseline;
  background: transparent;
      font-size: 20px;
line-height: 160%;
    font-weight: bold;
    word-wrap: break-word;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
        overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
        font-family: HiraKakuPro-W6, 'ヒラギノ角ゴ Pro W6', "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
} */
*{
  box-sizing:border-box;
}
html{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
body {
font-size:12px;
line-height: 140%;
padding:0px;
margin:0 auto;
/*font-family: "ＭＳ ゴシック","MS Gothic","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;*/
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
/*font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;*/
}
.min_font{
  font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}
/*
body p{ font-size:12px;padding: 0px; margin: 0px; max-height: 100%;}
body a,body img{ border:none; }
img {vertical-align: bottom;}
table {border-collapse: collapse;border:0px;table-layout: fixed;}
tbody{width: 100%;}
tr,th,td{padding:0px;word-wrap: break-word;word-break: break-all;}
ul{ margin:0px; padding:0px;}
li{ list-style:none;}
.clear{ clear:both; }
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
	clear:both;
}
clearfix {
	*zoom: 1;
}

h1,h2,h3,h4,h5,p,span { margin:0;padding: 0;font-size: 12px;font-weight: normal;line-height:100%; max-height: 100%;word-wrap: break-word;word-break: break-all;}


input[type="radio"] {border: 0px!important;}
input[type="radio"],input[type="submit"],label{cursor:pointer;}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #333;
}
select::-ms-expand {display: none;/* IE11対策 セレクトボタンのデフォルト非表示*/}
/*
a{
  cursor: pointer;
}

.radio_input{
  display: none;
}
.radio_input + label{
   position: relative;
    display: inline-block;
    padding: 0px 3px 3px 34px;
    cursor: pointer;
    margin-right: 48px;
}
.radio_input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

.radio_input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #3498db;
  border-radius: 50%;
}

/* 以下チェックボックス */

.checkbox_input{
display: none;
}
.checkbox_input + label{
   position: relative;
    display: inline-block;
    padding: 5px 3px 3px 34px;
    cursor: pointer;
    margin-right: 48px;
}
.checkbox_input + label::before{
 position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 17px;
    height: 17px;
    margin-top: -9px;
    background: #fff;
    border: 1px solid #ccc;
}

.checkbox_input:checked + label::after{
    position: absolute;
    content: '';
    top:11px;
    left: 3px;
    width: 13px;
    height: 5px;
    border-left: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
} */ */
