
/********* ドロップナビ **********/

ul.drop_nav{
	zoom:1;
}
.drop_nav li{
	width:160px;
	height:34px;
	line-height:34px;
	float: left;
}
ul.drop_sub{
	width:160px;
	z-index:1000;
	top:35px;
	left:0px;
}
ul.drop_sub li{
	padding:0px;
	height:35px;
}
ul.drop_sub a{
	width:160px;
	height:34px;
	line-height:34px;
}

/********* モーダルウィンドウ **********/

iframe{border: none;}
.modal_window {display: none;}

#modal_bg {
z-index: 1000;
background-image: url("../../img/common/modal_bg.png");
background-repeat: repeat;
width: 100%;
height: 100%;
overflow: hidden;
position: fixed !important;
position: absolute;
top: 0px;
left: 0px;
display: none;
}
.modal_bg_close{
width: 100%;
height: 100%;
display: block;
z-index: 1001;
position: absolute;
top: 0;
left: 0;
}

.modal_box {
z-index: 10000;
width: 100%;
height: 100%;
position: fixed !important;
position: absolute;
top: 0px;
left: 0px;
display: none;
}

.modal_box table, .modal_box tr {width: 100%;height: 100%;}

.modal_box td {
height: 100%;
vertical-align:middle;
}

.modal_box .pop_inner {
position: relative;
background-color:#FFF;
margin: 0 auto;
z-index: 1002;
width: 700px;

}

.modal_next,
.modal_prev{
	   width: 50px;
    height: 50px;
    /* background-color: #FFF; */
    position: absolute;
  
    z-index: 33333333;
    top: 43%;
        top: 47%;
    background-repeat: no-repeat;
    background-position: center;
}

.modal_next a,
.modal_prev a{
    display: block;
    height: 50px;
    width: 100%;
    display: block;
}

.modal_next {
    margin-right: -50px !important;
    background-image: url(../../img/common/modal_sp_next.png);
      right: 0%;
}
.modal_prev{
    margin-left: -50px !important;
    background-image: url("../../img/common/modal_sp_prev.png");
      left: 0%;
}

.modal_close {
	z-index:100;
cursor: pointer;
display: none;
position: absolute;
    right: 0px;
    top: -54px;
width: 30px;
height: 31px;
font-size: 20px;
background-size: 30px;

background-image: url("../../img/common/modal_close.png");
text-align: left;
line-height: 20px;
}

